VITE_SUPABASE_URL=https://<project-id>.supabase.co
VITE_SUPABASE_ANON_KEY=<anon-key-publique>
VITE_VAPID_PUBLIC_KEY=<ta_cle_publique_VAPID>
VITE_DISABLE_PUSH_IN_DEV=true # Mettre à true pour désactiver les notifications push en développement (optionnel)